<a href="https://colab.research.google.com/github/Shrez7961/Airbnb-Booking-Analysis/blob/main/Day_24_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON**

## 1. Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:
## 1634 = 1^4 + 6^4 + 3^4 + 4^4
## 8208 = 8^4 + 2^4 + 0^4 + 8^4
## 9474 = 9^4 + 4^4 + 7^4 + 4^4
## As 1 = 1^4 is not a sum it is not included.
## The sum of these numbers is 1634 + 8208 + 9474 = 19316.
## Write a Python program to find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [52]:
# Write Your Code here.
def fifth_power(n): #n = limit
  return sum(int(i)**5 for i in str(n))

def total(l): #l = limit
  lst = [i for i in range(2,l) if i == fifth_power(i)]
  return lst, f"sum_of_fifth_power_of_digits_of_numbers is {sum(lst)}"

In [53]:

total(1000000)

([4150, 4151, 54748, 92727, 93084, 194979],
 'sum_of_fifth_power_of_digits_of_numbers is 443839')

In [54]:
total(100000)

([4150, 4151, 54748, 92727, 93084],
 'sum_of_fifth_power_of_digits_of_numbers is 248860')

In [55]:
total(10000)

([4150, 4151], 'sum_of_fifth_power_of_digits_of_numbers is 8301')

## 2. Write a Python program to find the largest prime factor of a given number.

## The prime factors of 330 are 2, 3, 5 and 11. Therefore 11 is the largest prime factor of 330.
## Sample Example: 330 = 2 × 3 × 5 × 11

In [56]:
# Write Your Code here.
def Largest_Prime_Factor(n):
    return next(n // i for i in range(1, n) if n % i == 0 and is_prime(n // i))
def is_prime(m):
    return all(m % i for i in range(2, m - 1))
print(Largest_Prime_Factor(200))
print(Largest_Prime_Factor(330))
print(Largest_Prime_Factor(243423423330))

5
11
1114117

# **SQL**

In [1]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## **Introduction**
Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

## **Available Data**

Danny has shared the data design for Foodie-Fi and also short descriptions on each of the database tables - our case study focuses on only 2 tables but there will be a challenge to create a new table for the Foodie-Fi team.

All datasets exist within the foodie_fi database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.


![image.png]()

## **Table 1: plans**
Customers can choose which plans to join Foodie-Fi when they first sign up.

Basic plan customers have limited access and can only stream their videos and is only available monthly at $9.90

Pro plan customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at 19.90 USD a month or 199 USD for an annual subscription.

Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

When customers cancel their Foodie-Fi service - they will have a churn plan record with a null price but their plan will continue until the end of the billing period.

## **Table 2: subscriptions**
Customer subscriptions show the exact date where their specific plan_id starts.

If customers downgrade from a pro plan or cancel their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

When customers upgrade their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

When customers churn - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service.

## **Case Study Questions**

## 3. What plan start_date values occur after the year 2020 for our dataset? 
## Show the breakdown by count of events for each plan_name.

**Expected Output:**

![image.png]()

In [6]:
mysql(''' select * from plans ''')

   plan_id      plan_name  price
0        0          trial    0.0
1        1  basic monthly    9.9
2        2    pro monthly   19.9
3        3     pro annual  199.0
4        4          churn    NaN

In [5]:
mysql(''' select * from subscriptions ''')

      customer_id  plan_id  start_date
0               1        0  2020-08-01
1               1        1  2020-08-08
2               2        0  2020-09-20
3               2        3  2020-09-27
4               3        0  2020-01-13
...           ...      ...         ...
2645          999        2  2020-10-30
2646          999        4  2020-12-01
2647         1000        0  2020-03-19
2648         1000        2  2020-03-26
2649         1000        4  2020-06-04

[2650 rows x 3 columns]

In [2]:
# Write Your Code here.
mysql(''' select p.plan_id , p.plan_name , count(s.start_date) as events from plans as p
join subscriptions s on s.plan_id = p.plan_id
where year(s.start_date) > 2020
group by p.plan_id , p.plan_name
order by plan_id  
''')

   plan_id      plan_name  events
0        1  basic monthly       8
1        2    pro monthly      60
2        3     pro annual      63
3        4          churn      71

## 4. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

**Expected Output:**

![image.png]()

In [3]:
# Write Your Code here.
mysql(''' select count(*) as churn_count , round(100*count(*)/(select count(distinct customer_id) from subscriptions),1) as churn_percentage from subscriptions as s 
join plans as p on p.plan_id = s.plan_id
where s.plan_id = 4
''')

   churn_count  churn_percentage
0          307              30.7

## 5. How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

**Expected Output:**

![image.png]()

In [8]:
# Write Your Code here.
mysql(''' select count(*) as churn_count , 
round(100*count(*)/(select count(distinct customer_id) 
from subscriptions)) as churn_percentge 
from (select s.customer_id , s.plan_id , p.plan_name , row_number() over( partition by s.customer_id  order by s.plan_id) as plan_rank 
from subscriptions as s
join plans as p on p.plan_id = s.plan_id) as x
where x.plan_id = 4 and x.plan_rank =2 
''')

   churn_count  churn_percentge
0           92              9.0

## 6. What is the number and percentage of customer plans after their initial free trial?

**Expected Output:**

![image.png]()

In [9]:
# Write Your Code here.
mysql(''' select x.next_plan , count(*) as conversion ,
round(100*count(*)/(select count(distinct customer_id) from subscriptions),1) as conversion_percentage
from (select customer_id , plan_id , lead(plan_id , 1) over(partition by customer_id order by plan_id) as next_plan from subscriptions) as x
where x.next_plan != 'null' and x.plan_id = 0
group by x.next_plan
order by x.next_plan
''')

   next_plan  conversion  conversion_percentage
0          1         546                   54.6
1          2         325                   32.5
2          3          37                    3.7
3          4          92                    9.2

# **MACHINE LEARNING**

## 7. How would you compare the two Time Series shown below?

![image.png]()

Write Your Answer here.

The plot above depicts the two-time series' details:
These two differ from one another and may have been sampled at various frequencies.
The red line appears to have been sampled 100 times, whereas the black line appears to have been sampled only 20 times.
In this instance, we are comparing two by comparing the slope of the series, which stands for the level shift.
Every red line aligns the time series with the same starting point, while the black line displays the data that has been normalized or standardized.
The regularity of sampling or the absence of pauses between Aironet observations that seem to be very short could be another important aspect.

## 8. What statistical methods can you use to assess the differences between the time series?

You have two-time series, shown in the plot below:


![image.png]()


There are two distinct things to assess:

a. Are the values the same?

b. Are the trends the same?

Write Your Answer here.

A) The values or observed values of the two series may be compared. Two cases may arise: (i) equal length of data, and (ii) unequal length of data. Equal Data Size: If n1 = n2, a simple d-bar analysis may work. If series 1 is represented by Xi: (x1, x2, ..., xn) and series 2 is represented by Yi: (y1, y2, ..., yn), the difference of the pairs are d1 = (x1 - y1), d2 = (x2 - y2), ... , dn = (xn - yn). The mean paired difference is the mean of di = d^ and the standard difference of the paired difference is Sd. The test statistics to verify whether the two series are statistically different is given by:

(1) Td = d^ / [Sd / SQT(npairs)]

The degree of difference is the number of pair less 1, i.e. df = n - 1. Look up in the T-table for reference value to verify whether the difference is significant. Unequal Data Size: If n1 > n2 or n2 > n1, then one may verify their difference by:

(2) Z = [(X1^ - X2^) - (μ1 - μ2)] / σ(SQRT(1/n1 + 1/n2)) TREND COMPARISON: There may be two approaches here: (i) compare the slope of the series; or (ii) compare the distribution.

B) Yes , The following time series plot shows a clear downward trend. There may also be a slight curve in the data, because the increase in the data values seems to accelerate over time in AERONET.